
.btn-block{
    width: 220px;
}

.btn-google{
    background-color: #ffb300;
    width: 300px;
    border: none;
    font-size: 20px;
}

.btn-google:hover{
    background-color: #e53935;
    color: #ffffff !important;
}

.btn-github{
    background-color: #ffb300;
    width: 300px;
    border: none;
    margin-top: 10px;
    font-size: 20px;
}

.btn-github:hover, .btn-github:active, .btn-github:focus{
    background-color: #424242;
    color: #ffffff !important;
}

.accountButton{
    background-color: #ffc107;
    border: none;
    color: #ffffff !important;
    margin-top: 10px;
    margin-right: 10px;
    width: 255px;
    margin-left: 10px;    
}

.accountButton:hover{
    background-color: #ffb300;
}

.accountButton:active, .accountButton:focus{
    box-shadow: none;
}
.email-login{
    margin-top: 40px;
}

.link-button{
    background-color: #ffc107;
    border-color: white;
    border-width: 2px;
}

.link-button:hover{
    background-color:#ffb300;
    border-color: white;
    border-width: 2px;
}

.link-button:active, .link-button:focus{
    box-shadow: none;
    border-color: white;
    border-width: 2px;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url(images/logofinal.png)!important;
    height: 50px;
    width: 100px;
}

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

img {
    background: rgba(0, 0, 0, 0.6);
}

.navbar-toggler:focus, .navbar-toggler{
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-custom {
    background-color: #ffb300 ;
    box-shadow: 0px 10px 13px -11px #000000;
}

.bg-dark {
    background-color: #ffc107!important;
}
.carousel-inner{
    width:100%;
    min-width: 450px;
}

.carousel-inner > .carousel-item > img {
    min-width: 100%;
    min-height: 100%;
}

.btn-outline-warning{
    position:absolute;
    transition: .5s ease;
    top: 40%;
    left: 47.5%;

}

.carousel-caption{
    position:absolute;
    top:30%;
}

h1 {
     font-family: 'Lobster', cursive;
     color: #ffb300;
     letter-spacing: 5px;
     font-weight: 500;
     font-size: 80px;
     text-shadow: -4px 6px 7px #A8803D;
 }


h2 {
    font-weight: 500;
    font-size: 80px;
    letter-spacing: 1px;
    color: #ffffff;
text-shadow: -2px 3px 4px rgba(150, 150, 150, 0.77);
}

h3 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    text-shadow: 2px 3px 20px #000000;
}

h4{
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    text-shadow: 2px 3px 20px #ffb300;
    color: #fff;
}

h5{
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
text-shadow: -2px 3px 4px rgba(150, 150, 150, 0.77);
    color: #fff;
}

h6{
    color: #fff;
}
.page-footer{
    background-color: #ffc107;
    box-shadow: 0px 10px -13px -11px #000000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.wrap {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    position: absolute;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffb300;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 60px 90px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.form-control-lg{
    margin-top: 25px;
}

.button:hover {
    background-color: #ffc107;
    box-shadow: 0px 15px 40px #ffc107;
    color: #fff;
    transform: translateY(-10px);
}

body{
min-width:450px;
background: linear-gradient(to bottom, #F1F1F1 0%, #ffffff 100%);
}


.pos-f-t{
position: relative; z-index: 4000;
}


.page-footer {
 position: relative; z-index: 4000;
}

.disabledbutton {
    pointer-events: none;
     transition: .5s ease;
    opacity: 0;
}

.enablebutton {
    pointer-events: auto;
     transition: 1s ease;
    opacity: 100;
}

 #map {
    height: 400px;
    width: 100%;
   }

 .jumbotron {
   background-color:transparent;
   }

.nice-text{
  text-align: justify;
  text-justify: inter-word;
}

.star{
  color: #ffc107;
  font-size: 2.5rem;
  padding: 0 1rem; /* space out the stars */
}
.star::before{
  content: '\2606';
  cursor: pointer;
}
.star:hover::before{
  /* the :hover should come first */
  content: '\2605';
  color: #ffb300;
}
.star.rated::before{
  /* the :hover should come first */
  content: '\2605';
}